body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#hahafunny {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}
#hahafunny:hover {
    cursor: pointer;
}
#hidden {
    display: none;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
span {
    color: grey;
}
